.product-item {
  border: 1px solid $border-color;
  border-radius: 3px;
  position: relative;
  text-align: center;
  padding: 52px 20px 31px;
  width: 271px;
  &__title {
    font-weight: normal;
    padding: 14px 0 25px;
  }
  &__price {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2f3035;
  }
}
.poduct-item__favorite {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  border: none;
  z-index: 5;
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 22px;
    left: 0;
    top: 0;
    background-image: url(../../icons/favorite.svg);
  }
  &:focus {
    outline: none;
  }
}
.poduct-item__favorite--active {
  &::before {
    background-image: url(../../icons/favorite-active.svg);
  }
}
.product-item__basket {
  width: 60px;
  height: 40px;
  background-color: red;
  position: absolute;
  bottom: 0;
  right: 0;
  // z-index: 10;
  img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
#basket {
  width: 60px;
  height: 40px;
  background-color: $main-color;
  border-radius: 10px 0px 0px 0px;
  border: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
